@font-face {
  font-family: "GeneralSans-Medium";
  src: url("../fonts/GeneralSans-Medium.otf") format("opentype");
}

@font-face {
  font-family: "GeneralSans-Semibold";
  src: url("../fonts/GeneralSans-Semibold.otf") format("opentype");
}

@font-face {
  font-family: "Thunder-BoldLC";
  src: url("../fonts/Thunder-BoldLC.otf") format("opentype");
}

@font-face {
  font-family: "Thunder-MediumLC";
  src: url("../fonts/Thunder-MediumLC.otf") format("opentype");
}

@font-face {
  font-family: "Playwrite";
  src: url("../fonts/PlaywriteGBS-Regular.ttf") format("truetype");
}
